html{
  scroll-behavior:smooth;
}

body{
  background:#fff5f8;
  font-family:'Poppins', sans-serif;
  overflow-x:hidden;
}

/* HERO */
.hero{
  min-height:100vh;
  background:
  linear-gradient(rgba(255,105,180,.4), rgba(255,20,147,.4)),
  url('https://img.magnific.com/vector-premium/fondo-rosa-corazones-dibujados-el_363897-13973.jpg?semt=ais_hybrid&w=740&q=80')
  center/cover;

  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
  padding:40px 20px;
}

.hero h1{
  font-size:4rem;
  font-family:'Sacramento', cursive;
  text-shadow:0 5px 15px rgba(0,0,0,.4);
}


.btn-romantic{
  margin-top:25px;
  background:white;
  color:#984ae0;
  border:none;
  padding:14px 35px;
  border-radius:50px;
  font-weight:bold;
  text-decoration:none;
  display:inline-block;
  transition:.4s;
}

.btn-romantic:hover{
  transform:scale(1.08);
  background:#d29df0;
  color:white;
  box-shadow:0 0 20px rgba(255,20,147,.5);
}

/* TITULOS */
.section-title{
  text-align:center;
  margin-bottom:50px;
  color:#812fc5;
  font-weight:700;
}

/* CARTA */
.love-card{
  background:rgb(255, 255, 255);
  border-radius:25px;
  padding:40px;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
  transition:.4s;
  text-align: justify;
  color: #b689e0;
  text-overflow: ellipsis;
}

.love-card:hover{
  transform:translateY(-10px);
}

/* POLAROID */
.polaroid{
  background:white;
  padding:15px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,.1);
  transform:rotate(-2deg);
  transition:.4s;
}

.polaroid:hover{
  transform:scale(1.03) rotate(0deg);
}

.polaroid img{
  width:100%;
  border-radius:10px;
  height:280px;
  object-fit:cover;
}

.polaroid p{
  text-align:center;
  margin-top:10px;
  font-family:'Sacramento', cursive;
  font-size:2rem;
  color:#734ddb;
}

/* CARRUSEL POLAROID */
.carousel-polaroid{
  max-width:500px;
  width:100%;
}

.carousel-polaroid img{
  height:500px;
  object-fit:cover;
}

.carousel-item{
  padding:20px 0 60px;
}

/* CORAZONES */
.heart{
  position:fixed;
  font-size:20px;
  color:#9e69ff;
  animation:float 6s linear infinite;
  z-index:999;
  pointer-events:none;
}

@keyframes float{
  0%{
    transform:translateY(100vh) scale(0);
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100%{
    transform:translateY(-10vh) scale(1.5);
    opacity:0;
  }
}

/* FOOTER */
.footer-love{
  margin-top:80px;
  padding:60px 20px;
  background:linear-gradient(135deg,#a87feb,#705bec);
  color:white;
  text-align:center;
  position:relative;
  overflow:hidden;
}

.footer-love::before{
  content:'';
  position:absolute;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
  background:radial-gradient(circle,rgba(255,255,255,0.2),transparent 60%);
  animation:shine 6s infinite linear;
}

@keyframes shine{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.footer-love h3{
  font-family:'Sacramento', cursive;
  font-size:2.5rem;
  position:relative;
}

.footer-love p{
  font-size:1rem;
  opacity:0.9;
  position:relative;
}

.love-sign{
  margin-top:15px;
  display:inline-block;
  padding:10px 25px;
  border:2px solid white;
  border-radius:50px;
  font-weight:bold;
  position:relative;
  transition:.3s;
}

.love-sign:hover{
  background:white;
  color:#ff1493;
  transform:scale(1.05);
}

/* RESPONSIVE */
@media(max-width:768px){

  .hero h1{
    font-size:3.2rem;
  }

  .carousel-polaroid img{
    height:320px;
  }

  .love-card{
    padding:25px;
  }
}